body {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat";
    font-style: normal;
}

a {
    text-decoration: none;
}

.navigation__list-item {
    color: rgba(4, 2, 24, 1);
}

.header {
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: white;
    justify-items: center;
}

.header__logo {
    width: 10%;
}

.header__menu {
    width: 70%;
    padding: 0px;
    font-family: "Montserrat";
    font-style: normal;
    margin: 0px;
}

.navigation__list {
    color: rgba(4, 2, 24, 1);
    list-style-type: none;
    display: inline-grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-around;
    margin: 2vw 0vw;
    padding: 0px;
    font-weight: 600;
    font-size: 1vw;
    line-height: 19px;
    width: 100%;
}

.navigation__list li:hover {
    cursor: pointer;
}

.navigation__list-items {
    grid-template-columns: auto;
    row-gap: 24px;
    margin-top: 64px;
}

.navigation__list-item-special {
    color: #85bfd1;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.15px;
}

.navigation__list-item li:hover {
    cursor: pointer;
}

.banner {
    background-color: #0057ff;
}

.banner__block-main {
    background-image: url(img/banner.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    object-fit: fill;
    padding: 3vw 2vw 1vw 10vw;
}

.banner__block-bonus {
    background-image: url(img/bannerbonus.jpg);
    background-position: 0px 0px;
    background-size: cover;
    object-fit: cover;
}

.banner__block-casino {
    background-image: url(img/casino.jpg);
    background-position: 0px 0px;
    background-size: cover;
    object-fit: cover;
}

.banner__block-guias {
    background-image: url(img/bannerguias.jpg);
    height: 30vw;
}

.banner__text {
    margin: 0px;
    padding: 0px;
    display: grid;
    color: white;
    height: 100%;
    row-gap: 3vw;
}

.banner__title-l {
    font-weight: 700;
    font-size: 4.5vw;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    max-width: 56%;
}

.banner__description-s {
    font-weight: 400;
    font-size: 1vw;
    margin: 0px;
    padding: 0px;
    max-width: 50%;
}

.banner__notation {
    font-weight: 400;
    font-size: 1vw;
    line-height: 30px;
    margin: 0px;
    padding: 0px;
}

.banner__block {
    max-width: 100%;
}

.filters {
    display: flex;
    font-size: 1.4vw;
    line-height: 2vw;
    color: #ffffff;
}

.banner__block-line {
    padding: 0px 10%;
    font-weight: 600;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #0057ff;
}

.element {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.element__image {
    max-width: 2vw;
    padding-right: 1vw;
}

.element__text {
    margin: 0px;
    padding: 0px;
}

.offers {
    display: grid;
    row-gap: 2vw;
    max-width: 80%;
    justify-content: center;
    margin: auto;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.offer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 0.1fr 1fr 0.1fr 1.3fr;
    grid-column-gap: 0.5vw;
    padding: 2%;
    border: 2px solid;
    border-color: rgba(4, 2, 24, 1);
    border-radius: 15px;
    align-content: center;
    align-items: flex-start;
    transition: border-color 0.2s ease-in-out;
}

.offers :hover {
    border-color: rgba(254, 171, 65, 1);
}

.offer__element-image {
    width: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.13);
    border-radius: 15px;
}

.offer__element-best {
    position: absolute;
    top: 2.4vw;
    background: #feab41;
    padding-left: 2.5vw;
    padding-right: 3vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;
    max-width: auto;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 1.3vw;
    text-transform: uppercase;
    opacity: 0%;
    color: #ffffff;
    transition: opacity 0.2s ease-in-out;
}

.offer:hover .offer__element-best {
    opacity: 100%;
}

.offer__element {
    padding-top: 1vw;
}

.offer__image {
    object-fit: cover;
    width: 100%;
}

.offer__element-info {
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    row-gap: 1vw;
    padding-left: 0.5vw;
}

.offer__benefit {
    display: flex;
}

.offer__name {
    font-weight: 700;
    font-size: 2.5vw;
    margin: 0vw;
    display: flex;
    flex-wrap: nowrap;
}

.offer__name::after {
    content: url(img/ball.png) url(img/cubes.png);
    display: flex;
    flex-wrap: nowrap;
    padding-left: 1vw;

}

.offer__icon {
    margin-right: 0.5vw;
    height: 1.5vw;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
}

.icon__ball {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

.icon__cubes {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    justify-self: start;
}

.offer__icon :last-child {
    margin-right: 0vw;
}

.stars {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
}

.offer__stars {
    width: 2vw;
}

.offer__rating {
    font-weight: 600;
    font-size: 1.8vw;
    line-height: 2vw;
    text-align: center;
    color: #040218;
    margin: 0vw;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.offer__rating::before {
    content: url(img/star.png) url(img/star.png) url(img/star.png) url(img/star.png) url(img/star.png);
    display: block;
    transform: scale(1);
    margin-right: 1vw;
}

.offer__checkbox {
    grid-row-start: 3;
    display: flex;
    column-gap: 2vw;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.checkbox {
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    box-sizing: border-box;
    transform: scale(1.5);
}

.offer__compare {
    margin: 0vw;
    font-weight: 700;
    font-size: 1.3vw;
    line-height: 1.3vw;
    text-transform: uppercase;
    color: #040218;
}

.line {
    width: 0.2vw;
    height: 100%;
    background-color: rgba(199, 199, 199, 0.3);
    margin: auto;
}

.offer__benefits {
    display: grid;
    row-gap: 1vw;
}

.offer__benefit {
    width: 100%;
}

.benefit-text {
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 1.7vw;
    color: #040218;
    margin: 0vw;
    align-self: center;
}

.benefit__checkmark {
    max-width: 3vw;
    margin-right: 1vw;
    object-fit: contain;
    align-self: start;
    margin-top: 0.3vw;
}

.offer__payment {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1vw;
}

.payment__text {
    font-weight: 500;
    font-size: 1.4vw;
    line-height: 130%;
    color: #040218;
    margin: 0px;
}

.payment__method {
    height: 1vw;
    margin-right: 1vw;
}

.payment__method-visa {
    height: 1.6vw;
}

.payment__qualiti {
    display: flex;
    font-size: 1vw;
    line-height: 1vw;
    text-align: center;
    color: #0057ff;
    border: 1.2px solid #0057ff;
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 2vw;
    width: 2vw;
    margin: 0px;
}

.offer__last {
    display: flex;
    flex-wrap: wrap;
    row-gap: 1vw;
}

.offer__prize {
    display: flex;
    align-items: center;
    margin-right: 0.8vw;
}

.prize {
    width: 2.3vw;
    height: auto;
    margin-right: 0.5vw;
}

.prize__text {
    margin: 0px;
    font-weight: 600;
    font-size: 1.6vw;
    color: #feab41;
}

.get__bonus {
    display: flex;
    align-items: center;
}

.get__bonus-text {
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 130%;
    text-transform: uppercase;
    margin: 0px;
    color: #040218;
}

.get__bonus ::after {
    content: url(img/blackarrow.png);
    margin-left: 0.3vw;
    transform: scale(1.5);
    height: 6vw;
}

.button {
    border-radius: 3px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__open {
    font-weight: 600;
    font-size: 2;
    line-height: 1.1vw;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background: #0057ff;
    padding: auto;
    margin-right: 1vw;
    border: 1.5px solid #0057ff;
    box-sizing: border-box;
}

.button__analize {
    font-weight: 600;
    font-size: 1vw;
    line-height: 1.1vw;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    color: #040218;
    padding: 1vw 1.5vw;
    margin: 0px;
    border: 1.5px solid #040218;
    box-sizing: border-box;
}

.arrow {
    margin-left: 0.5vw;
}

.button__block {
    display: none;
}

.info {
    display: grid;
    row-gap: 4vw;
    max-width: 80%;
    margin: auto;
    margin-top: 6vw;
    margin-bottom: 6vw;
    position: relative;
}

.tittle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tittle__2 {
    font-weight: 700;
    font-size: 6vw;
    padding: 0px;
    margin: 0px;
    max-width: 90%;
}

.tittle__2-orange {
    color: rgba(251, 176, 59, 1);
}

.crosses {
    height: 14vw;
}

.crosses__absolute {
    position: absolute;
    right: -8vw;
}

.opportunities__crosses {
    padding-bottom: 20vw;
    padding-right: 1vw;
}

.lines__side {
    position: absolute;
    transform: rotate(90deg);
    left: -33%;
    top: 45%;
}

.lines__side-right {
    left: 74%;
    top: 25%;
}

.lines__side-guias {
    top: 70%;
}

.lines__side-guias2 {
    top: 20%;
    left: -20%;
}

.text__benefit {
    display: flex;
    align-items: center;
}

.text__opportunity {
    justify-content: end;
    align-items: flex-start;
    column-gap: 4%;
}

.info__checkmark {
    height: 3vw;
}

.benefit__text-l {
    padding: 0px;
    align-self: center;
    margin-left: 2vw;
    font-weight: 700;
    font-size: 2.5vw;
    color: #040218;
}

.benefit__text-s {
    font-size: 1.2vw;
    margin-left: 1vw;
    font-weight: 500;
}

.opportunity__text-l {
    padding: 0px;
    margin: 0px;
    text-align: right;
    font-weight: 700;
    font-size: 2.5vw;
    color: #040218;
    max-width: 36%;
    padding-bottom: 0.5vw;
    border-bottom: 0.4vw solid #feab41;
    display: grid;
}

.text__paragraph {
    font-weight: 500;
    font-size: 1.6vw;
    line-height: 133%;
    color: #040218;
    margin: 0px;
}

.bonuses__tittle {
    padding-left: 10%;
    max-width: 90%;
    font-size: 4vw;
    margin-bottom: 3vw;
}

.bonuses__guias {
    margin-top: 4vw;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.bonuses__filters {
    padding: 0px 10%;
    font-weight: 600;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #0057ff;
    font-size: 1.2vw;
    margin-bottom: 3vw;
}

.bonuses__element {
    justify-content: left;
}

.bonuses__element-arrows {
    justify-content: end;
}

.element__arrow {
    margin-left: 1vw;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.bonuses__flex {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    justify-content: space-between;
    margin-bottom: 3vw;
    row-gap: 3vw;
}

.bonuses__bonus {
    position: relative;
    max-width: 45%;
    height: auto;
    border: 2px solid #0057ff;
    box-sizing: border-box;
}

.bonus__image {
    width: 100%;
    height: auto;
}

.bonus__date {
    position: absolute;
    font-weight: 500;
    font-size: 0.8vw;
    color: #ffffff;
    margin-top: 1vw;
    margin-left: 1vw;
}

.bonus__text {
    font-weight: 600;
    font-size: 1.8vw;
    color: #040218;
    padding-left: 1vw;
    margin-bottom: 0px;
    margin-top: 0.8vw;
}

.more {
    display: flex;
}

.bonus__more {
    align-items: center;
    justify-content: end;
    flex-wrap: nowrap;
    margin-right: 1vw;
    margin-top: 0.2vw;
}

.opportunity__more {
    align-items: center;
    justify-content: start;
    flex-wrap: nowrap;
    margin-top: 0.2vw;
    width: 46%;
}

.opportunity__more-end {
    width: 60%;
    justify-content: start;
}

.offer__rating-anchor {
    padding-right: 0.7vw;
}

.more__text {
    margin-right: 0.5vw;
    font-weight: 700;
    font-size: 1.3vw;
    color: #feab41;
    padding: 0px;
}

.more__text-blue {
    color: #0057ff;
}

.best__tittle {
    padding-left: 10%;
    max-width: 90%;
    font-size: 4vw;
    margin-bottom: 3vw;
    padding-top: 4vw;
}

.opportunities__tittle {
    padding-left: 10%;
    max-width: 90%;
    font-size: 4vw;
    padding-top: 4vw;
}

.tittle__container {
    display: grid;
    row-gap: 3vw;
}

.best__tittle-3 {
    padding: 0px;
    margin: 0px;
    font-weight: 600;
    font-size: 1.4vw;
    color: #040218;
    max-width: 80%;
}

.opportunities {
    position: relative;
    display: grid;
    margin-bottom: 2vw;
}

.opportunities__container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
    display: grid;
    row-gap: 4vw;
    margin-top: 3vw;
}

.opportunity__paragraph {
    max-width: 50%;
}

.opportunities__line {
    left: -16%;
    top: 55%;
}

.footer {
    background-color: #040218;
    color: #ffffff;
    position: relative;
}

.footer__container {
    max-width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: auto;
    justify-content: space-between;
    padding-top: 3vw;
    row-gap: 1vw;
    column-gap: 6vw;
    padding-bottom: 1vw;
}

.footer__countries {
    display: flex;
    flex-wrap: wrap;
    grid-column-start: 1;
    grid-column-end: 3;
}

.footer__navigation-tittle {
    padding: 0px;
    padding-bottom: 0.5vw;
    border-bottom: 0.4vw solid #feab41;
    margin-bottom: 2vw;
    margin-top: 0px;
    font-weight: 700;
    font-size: 2vw;
    color: #ffffff;
}

.footer__navigation-item {
    font-weight: 500;
    font-size: 1.3vw;
    color: #ffffff;
    margin-top: 0px;
    margin-bottom: 1.5vw;
}

.country {
    background-color: rgba(0, 87, 255, 0.18);
    border-radius: 1000px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.country__container {
    padding: 0.5vw 0.8vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
}

.country__flag {
    width: 2vw;
}

.country__text {
    font-weight: 500;
    font-size: 1.1vw;
    color: #ffffff;
    margin: 0px;
    padding-left: 1vw;
}

.footer__text {
    grid-column-start: 3;
    grid-column-end: 5;
    font-weight: 400;
    font-size: 1.1vw;
    color: #ffffff;
    margin: 0px;
}

.footer__age {
    display: flex;
    text-align: center;
    border: 1px solid #ffffff;
    border-radius: 50%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 3vw;
    width: 3vw;
    margin: 0px;
    font-size: 1.3vw;
    color: #ffffff;
}

.rules {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    grid-column-start: 3;
    grid-column-end: 5;
}

.rules__item {
    font-weight: 400;
    font-size: 0.8vw;
    color: #ffffff;
    margin: 0px;
}

.footer__law {
    font-weight: 400;
    font-size: 0.7vw;
    color: rgba(255, 255, 255, 0.5);
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: right;
    margin: 0px;
    padding: 0px;
}

.other {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 87, 255, 1);
}

.other__text {
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    padding: 0px;
    margin: 1vw 1vw 1vw 0vw;
}

.other__arrow {
    width: 1.5vw;
}

.gias__other {
    margin-bottom: 5vw;
}

.main-offer {
    position: relative;
}

.anchor {
    position: fixed;
}

.body-blue {
    background: #cdc6f9;
}

.anchor__offer {
    background: #ffffff;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.18);
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
}

.main__anchor {
    width: 16%;
    object-fit: contain;
    margin-left: 3vw;
}

.offer__image-anchor {
    width: 60%;
    margin-left: 20%;
}

.offer__element-anchor {
    padding: 0.7vw;
}

.button__open-margin {
    margin-top: 1vw;
    margin-left: 0.7vw;
    margin-right: 0.7vw;
}

.button__open-anchor {
    width: auto;
    font-size: 1.1vw;
    padding: 1vw;
    border-radius: 3px;
}

.anchor__list {
    margin-top: 1.5vw;
    padding: 0px;
    list-style-type: none;
}

.anchor__list-element {
    padding-bottom: 0.2vw;
    font-weight: 500;
    font-size: 1.2vw;
    color: #040218;
}

.main__page {
    width: 60%;
    margin: auto;
    margin-top: 3vw;
    background-color: white;
}

.page__header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3vw 1.3vw;
}

.page__header-way {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27%;
}

.benefit-text-s {
    font-size: 1, 2vw;
}

.page__header-texts {
    font-weight: 500;
    font-size: 0.8vw;
    color: #040218;
}

.page__header-textxs {
    font-weight: 500;
    font-size: 0.8vw;
    color: #c7c7c7;
}

.page__header-person {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: end;
}

.peson__text {
    text-align: right;
    margin-right: 1vw;
}

.peson__text-s {
    font-weight: 500;
    font-size: 0.9vw;
    color: #c7c7c7;
    margin: 0px;
    padding-bottom: 0.6vw;
}

.peson__text-name {
    font-weight: 600;
    font-size: 1.1vw;
    color: #0057ff;
    margin: 0px;
}

.person__photo {
    width: 20%;
    border-radius: 10000px;
    border: 1px solid #0057ff;
    box-sizing: border-box;
}

.button__open-orange {
    background-color: #feab41;
    width: 60%;
}

.banner__title-page {
    font-size: 1.5vw;
    margin: 0px;
    font-weight: 500;
}

.banner__text-page {
    row-gap: 1vw;
}

.banner__block-page {
    position: relative;
    max-width: 50%;
}

.card {
    width: 33%;
}

.offer__element-card {
    padding: 0px;
    justify-content: center;
}

.page__banner {
    align-items: center;
    justify-content: space-between;
    padding: 3vw 1.3vw;
}

.anchor__checkbox {
    transform: scale(1.5);
    margin-left: 20%;
}

.info-icon {
    padding-left: 0.4vw;
}

.page__crosses-orange {
    position: absolute;
    top: 86%;
    left: 70%;
    width: 8vw;
}

.page__dots-orange {
    position: absolute;
    top: 20%;
    left: 90%;
    width: 13vw;
}

.page__lines {
    display: grid;
    row-gap: 1vw;
    padding: 3vw 1.3vw;
    margin-top: 3vw;
}

.lines__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.2vw #f1f1f1 solid;
    padding-bottom: 0.3vw;
}

.lines__tittle {
    font-weight: 600;
    font-size: 1.5vw;
    color: #040218;
    margin: 0px;
}

.lines__object {
    margin: 0px;
    font-weight: 600;
    font-size: 1.4vw;
    color: #040218;
    display: flex;
    align-items: center;
}

.prize__text-white {
    color: white;
    font-weight: 600;
    font-size: 1vw;
}

.offer__prize-orange {
    background-color: rgba(254, 171, 65, 1);
    align-items: center;
    margin: 0px;
    padding: 0.3vw 0.5vw;
}

.lines__object-icon {
    width: 2vw;
    padding-left: 0.4vw;
}

.prize-white {
    width: 2vw;
}

.payment__qualiti-object {
    margin-left: 0.4vw;
}

.lines__object-iconm {
    width: 3vw;
}

.page__text {
    padding: 1vw 1.3vw;
    margin: 1vw 0vw 2vw 0vw;
    font-weight: 500;
    font-size: 1.6vw;
    color: #040218;
}

.tittle__page {
    padding-left: 1.3vw;
    padding-right: 1.3vw;
}

.tittle__2-page {
    font-size: 3.6vw;
    max-width: 100%;
}

.opportunities-border {
    border: 2px solid #0057ff;
    box-sizing: border-box;
    padding-bottom: 1vw;
}

.tittle__3-page {
    max-width: 100%;
}

.opportunities__container-page {
    width: 90%;
    padding-right: 1.3vw;
    padding-left: 4vw;
}

.opportunity__more-magrin {
    margin-top: 2vw;
}

.text__opportunity-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 7vw;
    row-gap: 1vw;
    width: 100%;
}

.text__benefit-page {
    max-width: 70%;
}

.lines__side-halfup {
    transform: rotate(0deg);
    top: 0%;
    left: 65%;
}

.lines__side-halfdown {
    transform: rotate(0deg);
    top: 36%;
    left: 64%;
    max-width: 40vw;
}

.plus {
    width: 2.5vw;
}

.page__image {
    max-width: 100%;
}

.info-page {
    margin: 6vw 0px 6vw 0px;
}

.info__text-page {
    padding-left: 1.3vw;
}

.benefit__text-sbold {
    font-weight: 600;
    font-size: 1.5vw;
}

.crosses__page {
    right: -18vw;
    top: 3vw;
}

.opportunity__more-padding {
    padding-left: 1.3vw;
}

.opportunity__image {
    padding-left: 1.3vw;
    width: 15vw;
}

.opportunities__line-card {
    max-width: 100%;
    background-color: #0057ff;
    padding-left: 1.3vw;
    margin-top: 1vw;
}

.prize__text-line {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    font-size: 1.6vw;
}

.tittle__page-padding {
    padding-top: 0.1vw;
}

.opportunities-border-orange {
    border: 2px solid #feab41;
}

.opportunities__line-cardorange {
    background-color: #feab41;
}

.page__text-s {
    text-align: center;
    font-size: 1.3vw;
}

.dots__page {
    position: absolute;
    top: 1vw;
    left: 52vw;
}

.page__text-orange {
    background-color: #feab41;
    padding-top: 2vw;
    padding-bottom: 2vw;
    color: white;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.crosses__page-card {
    width: 12vw;
    height: auto;
    right: 8vw;
    top: 6vw;
}

.text__opportunity-centre {
    justify-content: left;
}

.lines__side-tittle {
    left: 39vw;
}

.page__text-margin {
    margin-bottom: 0px;
}

.page__image-margin {
    margin-top: 3vw;
}

.tittle__3-padding {
    padding-top: 3vw;
    padding-bottom: 2vw;
}

.dots__page-down {
    top: 14vw;
}

.tittle__2-blue {
    color: #0057ff;
}

.page__image-s {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.flex__nowrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.opportunities__padding {
    padding-bottom: 0px;
}

.blue {
    color: blue;
}

li .black {
    color: black;
}

.crosses__page-bottom {
    top: 20vw;
    left: 52vw;
}

form {
    padding-left: 1.3vw;
    padding-right: 1.3vw;
}

.form__container {
    display: grid;
    row-gap: 1vw;
}

.form__input {
    font-weight: 400;
    font-size: 1.3vw;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #040218;
    border-radius: 6px;
    height: 3vw;
    padding-left: 1vw;
    padding-top: 0.3vw;
    vertical-align: top;
    resize: vertical;
}

input:focus,
textarea:focus {
    border-color: #000;
}

.form__button {
    max-width: 30%;
    padding: 0.4vw;
}

.form__input-heihgt {
    min-height: 10vw;
}

.comment__header {
    display: grid;
    grid-template-columns: 10% 90%;
    column-gap: 1vw;
    row-gap: 1vw;
    align-items: start;
}

.comment {
    padding: 0px 1.3vw 2vw 1.3vw;
    margin-top: 2vw;
    margin-bottom: 3vw;
}

.comment__name {
    margin: 0px;
    padding-bottom: 1vw;
    font-weight: 800;
    font-size: 1.5vw;
}

.comment__date {
    margin: 0px;
    font-weight: 500;
    font-size: 1.1vw;
}

.comment__text {
    grid-column-start: 1;
    grid-column-end: 3;
    max-width: 95%;
    margin: 0px;
    font-weight: 500;
    font-size: 1.5vw;
}

.comment__reply {
    background-color: #c7c7c72e;
    margin-top: 3vw;
    padding: 1vw 1vw;
    position: relative;
    border-radius: 10px;
    margin-bottom: 4vw;
}

.comment__reply::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -2vw;
    left: 30%;
    border-style: solid;
    border-width: 2vw 0 0 2vw;
    border-color: transparent transparent transparent #c7c7c72e;
}

.comment__photo {
    width: 4.5vw;
}

.reply {
    width: 100%;
    border-bottom: 0.1vw solid rgba(199, 199, 199, 0.3);
}

.tittle__page-reply {
    width: auto;
}

.reply__text {
    color: #feab41;
    font-size: 1.1vw;
    font-weight: 700;
    margin: 0px;
    padding-bottom: 1vw;
}

.dots__page-comment {
    top: -5vw;
}

.element-page {
    width: auto;
}

.bonuses__guias-page {
    margin-left: 0px;
    margin-right: 0px;
    padding: 0px 1.3vw 2vw 1.3vw;
    max-width: 100%;
}

.bonuses__flex-page {
    margin: 0px;
    max-width: 100%;
}

.bonuses__bonus-width {
    width: 48%;
}

.flex__block {
    display: none;
}

.flex__none {
    display: flex;
    flex-wrap: nowrap;
}

.bonuses__element-block {
    display: none;
}

.footer__dots {
    position: absolute;
    right: 0%;
    top: 40%;
}

.opportunities__logo {
    justify-self: right;
}

.offer__checkbox-special {
    justify-content: center;
    grid-row-start: 2;
}

@media only screen and (max-width: 1230px) {
    .offer {
        grid-template-columns: 0.9fr 1.2fr 0.1fr 1fr 0.1fr 1.3fr;
    }
}

@media only screen and (max-width: 1180px) {
    .page__dots-orange {
        top: 25%;
        left: 80%;
        width: 12vw;
    }

    .page__crosses-orange {
        top: 89%;
        left: 65%;
    }

    .card {
        width: 38%;
    }
}

@media only screen and (max-width: 1001px) {
    .offer {
        grid-template-columns: 0.9fr 1.4fr 0.1fr 1fr 0.1fr 1.4fr;
    }

    .page__dots-orange {
        display: none;
    }

    .page__crosses-orange {
        display: none;
    }

    .card {
        width: 44%;
    }

    .page__header-way {
    width: 31%;
    }
}

@media only screen and (max-width: 892px) {
    .offer {
        grid-template-columns: 0.9fr 1.6fr 0.1fr 1fr 0.1fr 1.4fr;
    }
}

@media only screen and (max-width: 768px) {
    .offers {
        padding: 0px 3vw;
        max-width: 100%;
        justify-content: stretch;
        row-gap: 3vw;
    }

    .offer {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: auto auto auto auto auto;
        grid-column-gap: 1vw;
        row-gap: 2vw;
    }

    .line {
        display: none;
    }

    .offer__last {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }

    .prize {
        width: 5vw;
    }

    .prize__text {
        font-size: 5vw;
        margin-left: 1vw;
    }

    .get__bonus {
        margin-left: 2vw;
    }

    .get__bonus-text {
        font-size: 4vw;
        margin-right: 1vw;
        display: flex;
        align-items: center;
    }

    .offer__benefits {
        grid-row-start: 2;
        border-right: 0.4vw #C7C7C7 solid;
    }

    .button__none {
        display: none;
    }

    .flex__none {
        display: none;
    }

    .flex__block {
        display: flex;
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-top: 1vw;
    }

    .button__block {
        display: flex;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
        align-items: center;
        justify-content: space-around;
        margin-top: 1vw;
    }

    .button {
        width: 40%;
        height: 7vw;
        font-size: 4vw;
    }

    .offer__element-image {
        width: 32vw;
    }

    .arrow {
        width: 2.4vw;
    }

    .offer__name {
        font-size: 6vw;
    }

    .icon {
        width: 4vw;
        height: auto;
    }

    .offer__element-info {
        row-gap: 4vw;
        grid-template-columns: auto;
        padding-left: 0px;
    }

    .offer__rating {
        font-size: 4vw;
    }

    .offer__compare {
        font-size: 3vw;
    }

    .banner__block-main {
        padding: 2vw 3vw;
        background-position: 75% 45%;
        background-size: 500%;
    }

    .banner__title-l {
        max-width: 100%;
        font-size: 8vw;
    }

    .banner__description-s {
        max-width: 100%;
        font-size: 4vw;
    }

    .banner__notation {
        max-width: 100%;
        font-size: 2.5vw;
    }

    .filters {
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 2vw;
        padding: 3vw 3vw;
    }

    .element {
        width: auto;
    }

    .element__image {
        max-width: 4vw;
    }

    .element__text {
        font-size: 3vw;
    }

    .element-extra {
        font-size: 4vw;
        width: 100%;
    }


    .offer__stars {
        width: 4vw;
    }

    .benefit-text {
        font-size: 3vw;
        line-height: 150%;
    }

    .benefit__checkmark {
        max-width: 4vw;
    }

    .payment__text {
        font-size: 4vw;
        font-weight: 700;
    }

    .payment__method-visa {
        height: 4vw;
    }

    .offer__payment {
        row-gap: 4vw;

    }

    .payment__qualiti {
        font-size: 3vw;
        height: 6vw;
        width: 6vw;
        margin-left: 2vw;
    }

    .get__bonus ::after {
        margin-left: 1.3vw;
    }

    .offer__element-best {
        top: 4vw;
        font-size: 3vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
    }

    .info {
        max-width: 100%;
        padding: 0px 3vw;
    }

    .tittle__2 {
        font-size: 8vw;
        max-width: 100%;
    }

    .info__checkmark {
        width: 6vw;
        height: 6vw;
    }

    .benefit__text-l {
        font-size: 5vw;
    }

    .text__paragraph {
        font-size: 4vw;
    }

    .crosses__none {
        display: none;
    }

    .bonuses__tittle {
        max-width: 100%;
        padding: 0px 3vw;
    }

    .bonuses__element-none {
        display: none;
    }

    .bonuses__element-block {
        display: flex;
    }

    .element__arrow {
        width: 7vw;
    }

    .bonuses__flex {
        max-width: 100%;
        padding: 0px 3vw;
    }

    .bonuses__bonus {
        max-width: 100%;
    }

    .bonus__date {
        font-size: 2.5vw;
        padding-top: 2vw;
        padding-left: 2vw;
    }

    .bonus__text {
        font-size: 3.4vw;
        padding-left: 2vw;
        padding-top: 2vw;
        padding-bottom: 2vw;
    }

    .more__text {
        font-size: 3vw;
    }

    .more__arrow {
        width: 3vw;
        height: 3vw;
    }

    .bonus__none {
        display: none;
    }

    .best__tittle {
        max-width: 100%;
        padding: 0px 3vw;
    }

    .best__tittle-3 {
        max-width: 100%;
        font-size: 4vw;
    }

    .opportunities__tittle {
        max-width: 100%;
        padding: 4vw 3vw;
    }

    .text__opportunity {
        justify-content: flex-start;
        row-gap: 3vw;
        margin-top: 2vw;
    }

    .opportunity__text-l {
        max-width: 100%;
        text-align: left;
        font-size: 4.5vw;
    }

    .opportunities__container {
        max-width: 100%;
        padding: 0px 3vw;
        row-gap: 3vw;
        margin: 0px;
    }

    .opportunity__paragraph {
        max-width: 100%;
    }

    .opportunities__line {
        display: none;
    }

    .footer__container {
        max-width: 100%;
        padding: 3px 3vw;
        display: block;
    }

    .footer__navigation {
        max-width: 100%;
    }

    .footer__navigation-tittle {
        max-width: 100%;
        font-size: 4vw;
        margin-top: 2vw;
        margin-bottom: 3vw;
        display: inline-block;
    }

    .footer__navigation-container {
        display: flex;
        justify-content: space-between;
    }

    .footer__navigation-item {
        font-size: 3vw;
    }

    .country__flag {
        width: 6vw;
    }

    .country__text {
        font-size: 3vw;
        padding-right: 2vw;
    }

    .footer__countries {
        display: grid;
        justify-content: start;
        justify-items: start;
        row-gap: 2vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .footer__dots {
        width: 25vw;
        top: 37%;
    }

    .footer__text {
        font-size: 3vw;
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .footer__age {
        font-size: 2vw;
        width: 6vw;
        height: 6vw;
    }

    .rules__item {
        font-size: 3vw;
        margin-top: 3vw;
    }

    .footer__law {
        text-align: left;
        font-size: 2.5vw;
        margin-top: 5vw;
        margin-bottom: 2vw;
    }

    .banner__block-bonus {
        background-position: 55% 30%;
    }

    .lines {
        display: none;
    }

    .banner__block-casino {
        background-position: 48% 53%;
        background-size: 200%;
    }

    .opportunities__logo {
        justify-self: left;
        width: 18vw;
        padding-bottom: 3vw;
    }

    .banner__block-guias {
        background-position: 55% 25%;
        background-size: 140%;
    }

    .bonuses__guias {
        max-width: 100%;
    }

    .other__arrow {
        width: 4.5vw;
    }

    .other__text {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }

    .gias__other {
        margin-top: 6vw;
    }

    .anchor {
        display: none;
    }

    .main__page {
        width: 100%;
        margin-top: 0vw;
    }

    .page__header-texts {
        font-size: 2vw;
    }

    .page__header-way {
        width: 40%;
    }

    .page__header-textxs {
        font-size: 2vw;
    }

    .peson__text-s {
        font-size: 2vw;
    }

    .peson__text-name {
        font-size: 2.2vw;
    }

    .person__photo {
        width: 27%;
    }

    .page__header {
        padding: 3vw;
    }

    .page__banner {
        padding: 3vw;
    }

    .banner__title-page {
        font-size: 3vw;
    }

    .button__open-anchor {
        width: auto;
        font-size: 3vw;
        max-width: 70%;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .page__lines {
        padding: 3vw;
    }

    .prize__text-white {
        font-size: 4vw;
    }

    .lines__container {
        border-bottom: 0.5vw #f1f1f1 solid;
        ;
    }

    .lines__tittle {
        font-size: 2.5vw;
    }

    .lines__object {
        font-size: 2.5vw;
    }

    .lines__object-icon {
        width: 3.6vw;
    }

    .lines__object-iconm {
        width: 5vw;
        padding-left: 1vw;
    }

    .page__text {
        font-size: 4vw;
        padding: 3vw;
    }

    .opportunity__more-end {
        justify-content: start;
    }

    .offer__prize-orange {
        padding: 1.5vw;
    }

    .text__opportunity-grid {
        grid-template-columns: 1fr;
        row-gap: 1vw;
    }

    .plus {
        width: 5vw;
        row-gap: 0px;
        margin-top: 0px;
    }

    .benefit__text-s {
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
    }

    .opportunities__container-page {
        margin-bottom: 4vw;
    }

    .page__image {
        padding: 0px 3vw;
        margin: 0px;
        width: -webkit-fill-available;
    }

    .info__tittle {
        padding: 0px;
    }

    .info__text-page {
        padding-left: 0px;
    }

    .text__benefit {
        margin-bottom: 1vw;
    }

    .opportunities__line-card {
        margin-top: 3vw;
        padding: 1vw 3vw;
    }

    .opportunity__image {
        width: 35vw;
        padding-left: 3vw;
    }

    .opportunity__more-padding {
        padding-left: 3vw;
        margin-bottom: 2vw;
        width: 100%;
    }

    .prize__text-line {
        margin-left: 0px;
    }

    .page__text-orange {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .opportunities-border {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    form {
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .form__input {
        font-size: 2.5vw;
        padding: 2vw 1vw;
    }

    .form__input-heihgt {
        min-height: 20vw;
    }

    .form__button {
        max-width: 60%;
    }

    .comment {
        padding: 0px 3vw;
    }

    .comment__photo {
        width: 10vw;
    }

    .comment__header {
        column-gap: 3vw;
        row-gap: 2vw;
    }

    .comment__name {
        font-size: 3vw;
    }

    .comment__date {
        font-size: 2vw;
    }

    .comment__text {
        font-size: 2.4vw;
    }

    .comment__reply {
        padding: 2vw;
    }

    .reply__text {
        font-size: 3vw;
    }

    .reply {
        border-bottom: 0.5vw solid rgba(199, 199, 199, 0.3);
    }

    .tittle__page-reply {
        margin-top: 3vw;
    }

    .bonuses__bonus-width {
        width: auto;
    }

    .tittle__page-reply {
        padding: 0px 3vw;
    }

    .bonuses__guias-page {
        padding-bottom: 10vw;
    }

    .card {
        width: 45%;
    }
}

@media only screen and (max-width:480px) {
    .footer__dots {
        top: 19%;
    }

    .banner__block-main {
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .offer__rating::before {
        transform: scale(0.8);
    }

    .offer__rating {
        margin-left: -5vw;
    }

    .offer__name::after {
        transform: scale(0.9);
    }

    .page__header {
        display: grid;
        row-gap: 2vw;
    }

    .page__header-person {
        flex-direction: row-reverse;
        justify-content: flex-end;
        width: 50%;
    }

    .page__header-texts {
        font-size: 3vw;
    }

    .page__header-textxs {
        font-size: 3vw;
    }

    .page__header-way {
        width: 60%;
    }

    .peson__text-s {
        font-size: 3vw;
    }

    .peson__text-name {
        font-size: 3.3vw;
    }

    .peson__text {
        margin: 2vw;
        text-align: left;
    }

    .page__banner {
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .banner__block-page {
        max-width: 100%;
    }

    .card {
        width: 100%;
        margin: 0px;
    }

    .offer__image-anchor {
        width: 45%;
        margin-left: 26%;
    }

    .banner__notation {
        font-size: 3vw;
        margin-top: 1.5vw;
    }

    .banner__title-page {
        font-size: 5.5vw;
    }

    .lines__container {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 3vw;
        border: none;
        padding-bottom: 2vw;
    }

    .lines__tittle {
        font-size: 4vw;
        border-bottom: 0.5vw #0057FF solid;
        padding-bottom: 0.5vw;
    }

    .lines__object {
        font-size: 4vw;
    }

    .lines__object-icon {
        width: 6.6vw;
    }

    .lines__object-iconm {
        width: 10vw;
    }

    .form__input {
        font-size: 4vw;
        padding-top: 3vw;
        padding-bottom: 3vw;
    }

    .form__container {
        row-gap: 2vw;
    }

    .form__button {
        font-size: 4vw;
    }

    .comment__photo {
        width: 15vw;
    }

    .comment__header {
        grid-template-columns: 20% 80%;
    }

    .comment__name {
        font-size: 4vw;
    }

    .comment__date {
        font-size: 3vw;
    }

    .comment__text {
        font-size: 4vw;
    }

    .reply__text {
        font-size: 4vw;
    }

    .flex__nowrap {
        flex-direction: column;
        align-items: flex-start;
    }
}